<div class="container has-text-centered">
  <div class="columns is-vcentered">
    <div class="column is-5 image">
      <figure class="image is-4by3">
        <img src="http://placehold.it/375x300" class="promo-img" alt="Yappy Gitlab Screenshot">
      </figure>
    </div>
    <div class="column is-6 is-offset-1">
      <h1 class="title is-2">
        Introducing Yappy, the GitLab Monitor
      </h1>
      <br>
      <h2 class="subtitle is-4 description">
        It's time to say hello to Gitlab repo events right in your Discord server. <br>
        Simply set up webhooks to a server, init repo in channel, and you're good-to-go!
      </h2>
      <br>
      <div class="columns stats">
        <div class="column">
          <p>
            <strong>Guilds</strong><br>
            {{bot.guilds.size}}
          </p>
        </div>
        <div class="column">
          <p>
            <strong>Channels</strong><br>
            {{bot.channels.size}}
          </p>
        </div>
        <div class="column">
          <p>
            <strong>Users</strong><br>
            {{bot.users.size}}
          </p>
        </div>
        <div class="column">
          <p>
            <strong>Repos</strong><br>
            {{repos.size}}
          </p>
        </div>
      </div>
      <br>
      <a class="button is-large is-success is-outlined" href="https://discordapp.com/oauth2/authorize?permissions=67193856&scope=bot&client_id=303661490114789391">
        Add Yappy GitLab
      </a>
    </div>
  </div>
</div>
